[Unit]
Description=AzerothCore World Server

[Service]
Type=forking
#Type=simple
WorkingDirectory=/home/azerothcore/azerothcore-wotlk/acore/bin
User=azerothcore

ExecStart=/usr/bin/screen -dmS worldserver /home/azerothcore/azerothcore-wotlk/acore/bin/worldserver
#ExecStart=/home/azerothcore/azerothcore-wotlk/acore/bin/worldserver

#ExecReload=/usr/bin/screen -S worldserver -p 0 -X stuff ".server shutdown 5s\\r"; /usr/bin/screen -dmS worldserver /home/azerothcore/azerothcore-wotl>
ExecStop=/usr/bin/screen -S worldserver -p 0 -X stuff ".server shutdown 5s\\r";
RestartSec=10s

Restart=always
#RootDirectory=/srv/azerothcore

KillSignal=SIGCONT
TimeoutStopSec=30

After=network-online.target
Requires=network-online.target
After=mysql.service
Requires=mysql.service

[Install]
WantedBy=multi-user.target